.App {
  text-align: center;
  /* background: rgb(255,91,61);
  background: linear-gradient(283deg, rgba(255,91,61,0.3086484593837535) 0%, rgba(253,45,114,0.30024509803921573) 83%); */
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.buttonDiv{
  /* background-color: #E81AA2; */
  background: rgb(255,91,61);
  background: linear-gradient(283deg, rgba(255,91,61,1) 0%, rgba(253,45,114,1) 83%);
  color: white;
  width: 295px;
  height: 56px;
  font-size: 20px;
  border-radius: 15px;
  margin: auto;
}
.buttonDiv p{
  padding-top: 12px;
}

.title{
  display: flex;
  margin: auto;
  width: 180px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
