.App {
  text-align: center;
  /* background: rgb(255,91,61);
  background: linear-gradient(283deg, rgba(255,91,61,0.3086484593837535) 0%, rgba(253,45,114,0.30024509803921573) 83%); */
  min-height: 100vh;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.buttonDiv{
  /* background-color: #E81AA2; */
  background: rgb(255,91,61);
  background: linear-gradient(283deg, rgba(255,91,61,1) 0%, rgba(253,45,114,1) 83%);
  color: white;
  width: 295px;
  height: 56px;
  font-size: 20px;
  border-radius: 15px;
  margin: auto;
}
.buttonDiv p{
  padding-top: 12px;
}

.title{
  display: flex;
  margin: auto;
  width: 100%;
}


#range-slider-red .range-slider__range {
  background: linear-gradient(283deg, rgba(255,91,61,1) 0%, rgba(253,45,114,1) 83%);
  transition: height 0.3s;
}

#range-slider-red .range-slider__thumb {
  background: linear-gradient(283deg, rgba(255,91,61,1) 0%, rgba(253,45,114,1) 83%);
  transition: transform 0.3s;
}

.range-field{
  -webkit-appearance: none;
  outline: none;
  height: 10px;
  background: #d1d1d1;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0,0,0,1);
  overflow: hidden;
}

.range-field::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: linear-gradient(283deg, rgba(255,91,61,1) 0%, rgba(253,45,114,1) 83%);
  box-shadow: -410px 0 0 400px rgba(255, 91, 61, 1);
}


.inputDiv{
  border: 1px solid gray;
  width: 80%;
  height: 50px;
  margin: auto;
  border-radius: 10px;
  margin-top: 25px;
}

.inputDiv input{
  outline: none;
}

.inputTitle{
  text-align: left;
  background-color: white;
  width: 30px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: -12px;
  margin-left: 20px;
  position: absolute;
  z-index: 1;
  font-family: cursive;
  color: rgb(255,91,61);
}

.inputField{
  width: 96%;
  height: 40px;
  font-size: 18px;
  margin-top: 5px;
  border: none;
}

.inputField:select{
  border: none;
}

.errorBox{
  color: rgb(255,91,61);
  font-weight: 700;
}

.optionBox{
  border: 1px solid  rgb(255,91,61);
  background-color: antiquewhite;
  width: 40%;
  height: 56px;
  font-size: 20px;
  border-radius: 15px;
  margin: auto;
  margin-top: 20px;
}

.optionBox p {
  margin-top: 13px;
}

.selectOption{
  background: rgb(255,91,61);
  background: linear-gradient(283deg, rgba(255,91,61,1) 0%, rgba(253,45,114,1) 83%);
  color: white;
  width: 40%;
  height: 56px;
  font-size: 20px;
  border-radius: 15px;
  margin: auto;
  margin-top: 20px;
}

/* .selectOption p{
  padding-top: 12px;
} */

.interestOptionDiv{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

.interestOptionBox{
  /* background: rgb(255,91,61);
  background: linear-gradient(283deg, rgba(255,91,61,1) 0%, rgba(253,45,114,1) 83%); */
  /* color: white; */
  border: 1px solid  rgb(255,91,61);
  background-color: antiquewhite;
  width: 47%;
  height: 35px;
  font-size: 16px;
  font-family: cursive;
  border-radius: 15px;
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.selectIntOptionBox{
  background: rgb(255,91,61);
  background: linear-gradient(283deg, rgba(255,91,61,1) 0%, rgba(253,45,114,1) 83%);
  color: white;
  /* border: 1px solid  rgb(255,91,61); */
  background-color: antiquewhite;
  width: 47%;
  height: 35px;
  font-size: 16px;
  font-family: cursive;
  border-radius: 15px;
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.interestOptionBox p, .selectIntOptionBox p {
  margin-top: 7px;
}

.imageContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.imageBox{
  border: 3px solid rgb(255,91,61);
  width: 130px;
  height: 130px;
  margin: 5px;
  border-radius: 20px;
}

.imageBox img{
  border-radius: 20px;
  width: 130px;
  height: 130px;
  object-fit: cover;
}

.plusIcon{
  font-size: 85px;
  color: rgb(255, 91, 61);
}

.card{
  position:relative;
  width: 400px;
  padding: 20px;
  border: 2px solid red;
  max-width: 85vw;
  height: 70vh;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  margin-top: -80px;
  }
  
  .card h3{
    color: #fff;
    position: absolute;
    bottom: 0;
    margin: 10px;
  }
  
  .tinderCard_container{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    /* background-color: red; */
    max-width: 400px;
    margin-left: -49%;
  }

  @media only screen and (min-width: 320px) {
    .tinderCard_container{
      margin-left: -40%;
    }
  }

  @media only screen and (min-width: 340px) {
    .tinderCard_container{
      margin-left: -45%;
    }
  }

  @media only screen and (min-width: 360px) {
    .tinderCard_container{
      margin-left: -54%;
    }
  }

  @media only screen and (min-width: 370px) {
    .tinderCard_container{
      margin-left: -51%;
    }

    /* .card{
      height: 67vh;
    } */
  }
  @media only screen and (max-height: 750px) {
    .card{
      height: 67vh;
    }
  }

  @media only screen and (min-width: 380px) {
    .tinderCard_container{
      margin-left: -49%;
    }
  }

  @media only screen and (min-width: 400px) {
    .tinderCard_container{
      margin-left: -46%;
    }
  }

  @media only screen and (min-width: 420px) {
    .tinderCard_container{
      margin-left: -44%;
    }
  }

  @media only screen and (min-width: 430px) {
    .tinderCard_container{
      margin-left: -42%;
    }
  }

  @media only screen and (min-width: 440px) {
    .tinderCard_container{
      margin-left: -40%;
    }
  }

  @media only screen and (min-width: 460px) {
    .tinderCard_container{
      margin-left: -38%;
    }
  }
  
  .swipe{
    position: absolute;    
  }

  .imageBarIndicator{
    min-height: 5px;
    width: 100%;
    border-radius: 10px;
    margin-top: -15px;
    display: flex;
  }

  .profileImages{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

  }

  .imageBarIndicator div{
    border: 1px solid;
    border-radius: 5px;
    min-height: 5px;
  }

  .personName{
    text-align: left;
    margin-left: 10px;
    margin-bottom: 35px;
    /* background-color: red; */
  }

  .distance{
    position: absolute;
    margin-top: 5px;
    color: black;
    /* background-color: green; */
    /* padding-top: 10px; */
  }

  .personDiv{
    background-color: rgba(128, 128, 128, 0.3);
    position: absolute;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    margin-left: -20px;
    padding-top: 0;
    bottom: 0px;
  }

  .upIcon{
    position: absolute;
    margin-top: -60px;
    margin-left: 100px;
  }

  .detailProfileDiv{
    /* min-width: 90%;
    margin-top: -80px;
    min-height: 100vh;
    margin-left: 370px; */
    margin: 5px;
    border: 1px solid red;
    border-radius: 10px;
    background-color: antiquewhite;
    padding-bottom: 30px;
    margin-bottom: 100px;

  }

  .navbarDiv{
    background: rgb(255,91,61);
    background: linear-gradient(283deg, rgba(255,91,61,1) 0%, rgba(253,45,114,1) 83%);
    position: fixed;
    bottom: 0;
    height: 45px;
    width: 100%;
    display: flex;
    max-width: 600px;
  }

  .navbarDiv div{
    margin-top: 7px;
    width: 25%;
  }

  /* Edit Profile */

  .editProfileInput{
    border: none;
    border-bottom: 2px solid red;
  }

  .floatDiv{
    padding-top: 10px;
    background-color: pink;
    /* opacity: 0.5; */
    width: 100%;
    height: 350px; 
    /* animation-name: FloatDiv-up;
  animation-duration: 1s; */
  /* animation: FloatDiv-up infinite 2s linear; */
    animation-name: FloatDiv-up;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    position: absolute; 
    z-index: 2; 
    border-top-right-radius: 65px; 
    border-top-left-radius: 65px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: none;
  }

  .floatDiv-subcontainer{
    width: 30%;
    margin-bottom: 15px;
    border: 1px solid red;
    border-radius: 10px;
    background-color: antiquewhite;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }

  .verification-container{
    width: 90%;
    margin: auto;
    text-align: justify;
  }

  .msg-content {
    background: rgb(255, 91, 61);
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    border-radius: 10px;
    margin-top: 7px;
    padding: 7px;
    color: white;
    font-size: 18px;
    word-wrap: break-word; /* Allows long words to break and wrap within the container */
  }
  
  .unseenMsg{
    background-color: lightgreen;
    width: 30px;
    border-radius: 50%;
    height: 30px;
    color: white;
    font-weight: bold;
    font-size: larger;
    margin-top: 0;
    margin: auto;
  }

  .likeCountText{
    margin-top: -40px;
    margin-left: 59px;
    font-size: 15px;
    color: white;
    font-weight: bolder;
    background-color: #30b400;
    width: 20px;
    z-index: 10;
    position: absolute;
    border-radius: 50%;
    padding: 2px;
  }

@keyframes FloatDiv-up{
  from {
    margin-top: 0vh;
  }
  to{
    margin-top: -40vh;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
