.likeContainer{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 200px;
    padding-bottom: 45px;
}

.likeRequestProfileCard{
    border: 1px solid red;
    border-radius: 12px;
    width: 170px;
    height: 220px;
    margin: auto;
    margin-top: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.profilePicture{
    border-radius: 20px;
    object-fit: cover;
    border-radius: 12px;
}

.buttonContainer{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    /* margin-top: -110px; */
    margin-bottom: 40px;
    background-color: #000;
    color: #fff;
    opacity: .7;
    margin-top: -47px;
    height: 43px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 170px;
}

.buttonContainer div{   
    margin-top: 5px;
    width: 50%;
    margin-bottom: 5px;
}


.likeRequInfo{
    position: absolute;
    margin-top: -83px;
    width: 170px;
    font-size: 15px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    text-shadow: 1px 1px #FF0000;
}

.likeRequInfo h2{
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}