.likeContainer{
    display: flex;
    flex-wrap: wrap;
}

.likeRequestProfileCard{
    border: 1px solid red;
    border-radius: 12px;
    width: 170px;
    height: 220px;
    margin: auto;
    margin-top: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.profilePicture{
    border-radius: 20px;
    object-fit: cover;
    border-radius: 12px;
}

.buttonContainer{
    display: flex;
    justify-content: space-between;
    margin-top: -110px;
    margin-bottom: 40px;
}


.likeRequInfo{
    position: absolute;
    margin-top: -36px;
    background: rgb(255,91,61);
    background: linear-gradient(283deg, rgba(255,91,61,1) 0%, rgba(253,45,114,1) 83%);
    opacity: 0.7;
    /* z-index: 1; */
    width: 170px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

}

.likeRequInfo h2{
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}